#app {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "announcement"
    "app-header"
    "page-header"
    "page-layout";

  --c-height_announcement: 2rem; /* its 0 when there's no banner visible, 2rem otherwise */
}

/* TODO: move this be to the modal module in ui-core? */
body:has(#modal-overlay) {
  overflow: clip;
}

/* -- PreApp --------------------------------------------------------------- */

.unison-cloud-box {
  position: relative;
  background: var(--color-blue-2);
  border-radius: 1rem;
  padding: 3.5rem 2rem;
  color: var(--color-gray-lighten-100);
  width: 32rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
}

.unison-cloud-box .button {
  position: relative;
  z-index: 2;
}

.unison-cloud-box h1 {
  font-size: 3rem;
}

.unison-cloud-box h2 {
  font-size: 1.5rem;
  color: var(--color-blue-1);
  margin-bottom: 2rem;
}

.unison-cloud-box .unison-cloud-wordmark_cloud {
  color: var(--color-orange-4);
}

.app-error {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  font-weight: 600;
  color: var(--u-color_text);
}

.app-error .icon {
  font-size: 4rem;
  color: var(--u-color_critical_icon);
}

@media only screen and (--u-viewport_max-md) {
  #app {
    width: 100vw;
    --app-header-height: 7rem;
    --c-height_announcement: 4rem;
  }
}

/* -- AppHeader ------------------------------------------------------------ */

#app-header .account-menu-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.375rem;
  border-radius: 1rem;
  transition: all 0.2s;
}

#app-header .account-menu .action-menu .action-menu_sheet {
  width: 11.5rem;
}
