.log {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
}

.log .log-entries {
  border: 1px solid var(--u-color_border);
  padding: 0.75rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  border-radius: var(--border-radius-base);
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--u-color_container);
  /* TODO: fix this so its dynamic */
  height: 400px;
}

.log-entry_date-boundary {
  position: relative;
  color: var(--color-orange-1);
  font-size: var(--font-size-extra-small);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  line-height: 1;
  height: 1.5rem;
}

.log-entry_date-boundary .log-entry_date-boundary_date-divider {
  display: flex;
  flex-grow: 1;
  border: 0;
  height: 1px;
  background: var(--color-orange-1);
  border-radius: 0.25rem;
}

.log-entry_date-boundary .log-entry_date-boundary_date-divider:first-child {
  width: 1.5rem;
  flex-grow: 0;
}

.log-entry_date-boundary .log-entry_icon {
  width: 1rem;
  height: 1rem;
  background: var(--color-orange-1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1;
  box-shadow: 0 0 0 1px var(--u-color_container);
  z-index: var(--layer-base);
}

.log-entry_date-boundary .icon {
  font-size: var(--font-size-extra-small);
  color: var(--color-orange-5);
}

.log-entry_log-line {
  position: relative;
  border-radius: var(--border-radius-base);
  font-family: var(--font-monospace);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--font-size-small);
  align-items: flex-start;

  --c-color_background_info: var(--color-transparent);
  --c-color_background_warn: var(--u-color_container_subdued);
  --c-color_background_error: var(--u-color_critical_element_subdued);
  --c-color_background_custom: var(--color-transparent);
}

.log-entry_log-line:after,
.log-entry_date-boundary:after {
  position: absolute;
  background: var(--u-color_border);
  content: "";
  top: 1rem;
  height: 1rem;
  bottom: 0;
  left: calc(2.5rem - 0.5px);
  width: 1px;
}

.log-entry_log-line:first-child:after,
.log-entry_date-boundary:first-child:after {
  display: none;
}

.log-entry_log-line.log-line_info {
  --c-color_background: var(--c-color_background_info);
}

.log-entry_log-line.log-line_warn {
  --c-color_background: var(--c-color_background_warn);
}

.log-entry_log-line.log-line_error {
  --c-color_background: var(--c-color_background_error);
  font-weight: bold;
}

.log-entry_log-line.log-line_custom {
  --c-color_background: var(--c-color_background_custom);
}

.log-entry_log-line {
  background: var(--c-color_background);
}

.log-entry_log-line.log-line_info.log-line_just-fetched,
.log-entry_log-line.log-line_warn.log-line_just-fetched,
.log-entry_log-line.log-line_error.log-line_just-fetched,
.log-entry_log-line.log-line_custom.log-line_just-fetched {
  animation: just-fetched-fade 5s;
}

@keyframes just-fetched-fade {
   0% {
     background: red;
   }
   100% {
     background: white;
   }
}

.log-entry_log-line:not(.log-line_expandable) {
  padding-left: 2rem;
}

.log-entry_log-line .log-line_collapsed {
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  gap: 0.5rem;
}

.log-entry_log-line .log-line_expanded {
  margin-left: 3.5rem;
  border: 1px solid var(--u-color_border);
  border-radius: var(--border-radius-base);
  position: relative;
}

.log-entry_log-line .log-line_expanded:before {
  content: "";
  top: -1px;
  left: -1.1rem;
  position: absolute;
  border-left: 1px solid var(--u-color_border);
  border-bottom: 1px solid var(--u-color_border);
  width: 1rem;
  height: 1rem;
  border-radius: 0 0 0 var(--border-radius-base);
}

.log-entry_log-line .log-line_expanded th,
.log-entry_log-line .log-line_expanded td {
  padding: 0.5rem;
  border-bottom: 1px solid var(--u-color_border_subdued);
}

.log-entry_log-line .log-line_expanded tr:first-child th,
.log-entry_log-line .log-line_expanded tr:first-child td {
  border-radius: var(--border-radius-base) 0 0 0;
}

.log-entry_log-line .log-line_expanded tr:last-child th,
.log-entry_log-line .log-line_expanded tr:last-child td {
  border-bottom: 0;
  border-radius: 0 0 0 var(--border-radius-base);
}

.log-entry_log-line .log-line_expanded th {
  background: var(--u-color_container_subdued);
  border-right: 1px solid var(--u-color_border);
  text-align: right;
  font-weight: normal;
  color: var(--u-color_text_subdued);
}

.log-entry_log-line .log-line_logged-at {
  color: var(--u-color_text_subdued);
  font-weight: 300;
}

.log-entry_log-line .log-line_log-message_no-data .icon {
  font-size: var(--font-size-extra-small);
  color: var(--u-color_icon_subdued);
}

/* log level */

.log-level {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px var(--u-color_container);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-monospace);
  line-height: 1;
  z-index: var(--layer-base);
}

.log-level .icon {
  color: var(--u-color_icon);
}

.log-level.log-level_info {
  background: var(--color-blue-5);
}

.log-level.log-level_info .icon {
  color: var(--color-blue-2);
  font-size: var(--font-size-medium);
}

.log-level.log-level_warn {
  background: var(--color-orange-3);
}

.log-level.log-level_warn .icon {
  color: var(--color-orange-0);
  font-size: var(--font-size-extra-small);
}

.log-level.log-level_error {
  background: var(--color-pink-1);
}

.log-level.log-level_error .icon {
  color: var(--color-gray-lighten-100);
  font-size: var(--font-size-small);
}

.log-level.log-level_custom {
  padding-top: 1px;
  background: var(--color-blue-5);
  font-size: 0.5rem;
  font-weight: bold;
  color: var(--color-blue-2);
}

.log .log_controls {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
