.anchored-overlay_sheet:has(.service-deploy-settings_sheet) {
  padding: 0.5rem 0.5rem;
}

.service-deploy-settings_sheet {
  display: flex;
  flex-direction: column;
  width: 9.5rem;
  gap: 0.5rem;
}

.service-deploy-settings_sheet .option {
  gap: 0.25rem;
  border-radius: var(--border-radius-base);
  padding: 0 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  color: var(--u-color_text);
  font-size: var(--font-size-medium);
  line-height: 1;
  height: 1.5rem;
}

.service-deploy-settings_sheet .option:hover {
  background: var(--color-gray-base);
}

.undeploy-confirmation-modal {
  width: 28rem;
}

.assign-to-service-modal {
  width: 20rem;
}

.assign-to-service-modal .tab-content {
  margin-top: 1.5rem;
}

.undeploy-confirmation-modal_dim-overlay:after,
.assign-to-service-modal_dim-overlay:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-modal-bg);
  opacity: 0.85;
  content: " ";
  border-radius: var(--border-radius-base);
}

.modal .status-banner {
  position: relative;
  z-index: var(--layer-base);
}
