.get-started-modal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.get-started-modal .code {
  background: var(--u-color_element);
  border-radius: var(--border-radius-base);
  padding: 1rem;
}
