.service-deploy-page .column {
  display: grid;
  height: 100%;
  overflow: scroll;
}

.service-deploy-page .page-title p {
  margin-bottom: 0;
}

.service-deploy-page .service-deploy_description {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-medium);
  color: var(--u-color_text_subdued);
  height: 1.5rem;
}

.service-deploy-page .service-deploy_description .service-hash {
  font-family: var(--font-monospace);
}
