.service-page .column {
  display: grid;
  height: 100%;
  overflow: scroll;
}

.service-page .page-title p {
  margin-bottom: 0;
}

.service-page .service_description {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-medium);
  color: var(--u-color_text_subdued);
  height: 1.25rem;
}

.service-page .assigned-service-deploys-page_deploys {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.service-page .assigned-service-deploys-page_deploy {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
