.service-page .column {
  display: grid;
  height: 100%;
  overflow: scroll;
}

.service-page .page-title h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.service-page .page-title p {
  margin-bottom: 0;
}

.service-page .service-description {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service-page .service-description_hash-and-by-at {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  height: 1.5rem;
  font-size: var(--font-size-medium);
  color: var(--u-color_text_subdued);
}

.service-page .service-description_hash {
  font-family: var(--font-monospace);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.service-page .assigned-service-deploys-page_deploys {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.service-page .assigned-service-deploys-page_deploy {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.service-page
  .assigned-service-deploys-page_deploy
  .assigned-service-deploy_hash {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  width: 7rem;
}

.service-page
  .assigned-service-deploys-page_deploy
  .assigned-service-deploy_hash
  a {
  font-family: var(--font-monospace);
  color: var(--u-color_text);
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.service-page
  .assigned-service-deploys-page_deploy
  .assigned-service-deploy_hash
  a:hover {
  color: var(--u-color_interactive);
}
